
<form class="form">
  <mat-form-field class="example-full-width">
    <mat-label>Search for card</mat-label>
    <mat-autocomplete requireSelection (optionSelected)="selected($event)" [displayWith]="displayFn" #auto="matAutocomplete">
      <mat-option *ngFor="let option of cards$ | async" [value]="option">
        <img alt="" class="example-option-img" [src]="option.imageUrl" height="25">
        <span>{{option.name}}</span>
      </mat-option>
    </mat-autocomplete>
    <input type="text"
       placeholder="Search for a card"
       aria-label="Search for a card"
       matInput
       [formControl]="searchField"
       [matAutocomplete]="auto">
  </mat-form-field>
</form>
<mat-list role="list">
  <mat-list-item *ngFor="let item of list" [value]="item" role="listitem">
    <span>{{item.name}}</span>
  </mat-list-item>
</mat-list>



<router-outlet></router-outlet>